<div class="container">
  <div class="row">
    <span class="col-4"></span>
    <span class="shadow p-3 mb-5 bg-gray rounded col-4 mt-4" id="heading">
      AWS Lambda Serverless
    </span>
    <span class="col-4"></span>
  </div>

<div class = "row" *ngIf = "!loader">
  <span class="col-4"></span>
  <span class = "col-4">
  <form #imageForm="ngForm" (ngSubmit)="upload(imageForm)" >
    <div>
    <input type="file" accept=".jpg,.jpeg" name="image" #image="ngModel" ngModel required (change) = "imageFile($event)">
    <div *ngIf="image.invalid">
      <div class="text-dark"> Please select an image* </div>
    </div>
    <div *ngIf = "wrongFormat">
      <div class = "text-danger"> Allowed formats - .jpg, .jpeg</div>
    </div>
    <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
  </div>
  </form>
  </span>
  <span class="col-4"></span>
</div>

<div class = "row" *ngIf = "loader">
  <span class="col-4"></span>
  <span class = "col-4" *ngIf = "!uploaded">
    <div class="loader"></div>
  </span>
  <span class = "col-4" *ngIf = "uploaded">
    <h4>{{message}}</h4>
    <br>
    <h5>Image URL -  " <a href="{{imageLink}}"> {{imageLink}} </a>" </h5>
    <br>
    <button class = "btn btn-primary" (click) = "uploaded = false; loader = false"> Upload New Image </button> 
  </span>
  <span class="col-4"></span>
</div>





</div>